{% extends 'base.html' %}

{% load static %}

{% block title %} Article Create {% endblock %}

{% block content %}
  
  <!-- Create Article Form  -->
  <h2>Create New Article</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Create Article</button>
  </form>

  <!-- Back to Article List Button  -->
  <form action="{% url 'wiki:article_list' %}" method="get">
      <button type="submit">Back to Article List</button>
  </form>   
  
{% endblock %}






