body {
    background-color: beige;
}

h2 a {
    text-decoration: underline;
    font-size: 1.5rem;
    color: palevioletred;
    transition: color 0.3s ease;
}

h2 a:hover {
    color: #007BFF;
  }

.details p {
    margin: 0;
}

/* from my other project */
.back-button { 
    margin-top: 1.25rem;
    padding: 0.4rem 0.8rem;
    font-size: 0.875rem;
    color: #fff;
    background-color: #191;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }