{% extends 'base.html' %}

{% load static %}

{% block title %}
Thread List
{% endblock %}

{% block content %}
<h1>Thread List</h1>

{% if user.is_authenticated %}
    {% if user_threads %}
        {# Group user's threads by category #}
        {% regroup user_threads by category as category_groups %}
        {% for group in category_groups %}
            <h3>
                {{ group.grouper.name }}
                {% if group.grouper.description %}
                    <i>({{ group.grouper.description }})</i>
                {% endif %}
            </h3>
            <ul>
                {% for thread in group.list %}
                    <li>
                        <a href="{{ thread.get_absolute_url }}">{{ thread.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    {% else %}
        <p>You haven't written any threads.</p>
    {% endif %}
{% endif %}

{% if user.is_authenticated %}
    <p><a href="{{ create_thread_url }}" class="btn btn-primary">+ Create New Thread</a></p>
{% endif %}
{% endblock %}
