{% extends 'base.html' %}
{% load static %}

{% block title %}
Thread List
{% endblock %}

{% block content %}
    <h1>Thread List</h1>

    {% if user.is_authenticated %}
        <h2>Your Threads</h2>

        {% if user_threads %}
            {% for thread in user_threads %}
                <p>
                    <a href="{{ thread.get_absolute_url }}">{{ thread.title }}</a> – <strong>{{ thread.category.name }}</strong>
                </p>
            {% endfor %}
        {% else %}
            <p>You haven't written any threads.</p>
        {% endif %}

        <h2>Other Threads by Category</h2>

        {% for category_name, threads in threads_by_category.items %}
            {% with threads.0.category as category %}
                <h3>{{ category.name }} <em>({{ category.description }})</em></h3>
            {% endwith %}

            {% for thread in threads %}
                <p><a href="{{ thread.get_absolute_url }}">{{ thread.title }}</a></p>
            {% endfor %}
        {% endfor %}

        <p>
            <a href="{{ create_thread_url }}" class="btn btn-primary">+ Create New Thread</a>
        </p>
    {% else %}
        <p>Log in to view existing threads and start your own conversation.</p>
    {% endif %}
{% endblock %}
