{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/> 
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %} Final Project {% endblock %}</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        {% block styles %}{% endblock %}
    </head>

    <body>
        <header>
            <nav>
                <ul class="nav-links">
                    <li><a href="/"><img src="/../media/images/logo.jpg" alt="Logo"></a></li>
                    <li><a href="/blog/articles">Blog</a></li>
                    <li><a href="/commissions/list">Commissions</a></li>
                    <li><a href="/forum/threads">Forums</a></li>
                    <li><a href="/merchstore/items">Merchstore</a></li>
                    <li><a href="/wiki/articles">Wiki</a></li>
                    {% if not user.is_authenticated %}
                        <li><a href="{% url 'accounts:login' %}">(Log In)</a></li>
                    {% else %}
                        <li>Logged In As: {{ user.username }}</li>
                    {% endif %}
                </ul>
            </nav>
        </header>

        {% block content %}{% endblock %}

        {% if user.is_authenticated %}
            <form action="{% url 'accounts:logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        {% endif %}

        <button class="back-button" onclick="window.history.back()">Back</button>
    </body>
</html>
