<h1>{{ product.name }}</h1>

<p><strong>Product Type:</strong> {{ product.product_type }}</p>
<p><strong>Owner:</strong> {{ product.owner.user.username }}</p>
<p><strong>Description:</strong> {{ product.description }}</p>
<p><strong>Price:</strong> ${{ product.price }}</p>
<p><strong>Stock:</strong> {{ product.stock }}</p>
<p><strong>Status:</strong> {{ product.status }}</p>

{% if is_owner %}
    <p><em>This is your product.</em></p>
    <p><a href="{% url 'merchstore:product-update' product.pk %}">Edit Product</a></p>
{% elif product.stock > 0 %}
    <h3>Buy this product</h3>
    <form method="post">
        {% csrf_token %}
        {{ transaction_form.as_p }}
        
        <button type="submit">Add to Cart</button>
    </form>
{% else %}
    <p><strong>Out of stock</strong></p>
{% endif %}

<p><a href="{% url 'merchstore:product-list' %}">Back to all products</a></p>
